.carousel {
    background-color: none;
    height: 300px;
    background-size: cover;
    position: relative;
    border-radius: 2rem;
}

.title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 1rem;
    padding-bottom: 1rem;
}

.description {
    color: white;
    font-size: 1.2rem;
    /* font-weight: bold; */
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;
    padding-bottom: 1rem;
}

.a link {
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.swiper-pagination-bullet {
    background-color: #777;
    opacity: 65%;
    padding: 0.4rem;
}

.swiper-pagination-bullet-active {
    background-color: #555;
    opacity: 85%;
}
