.carousel {
    background-color: none;
    height: 20rem;
    background-size: cover;
    position: relative;
    border-radius: 2rem;
}

.vignette {
    height: 100%;
    width: 100%;
    text-decoration: none;
    box-shadow: inset 0 0 100px #000;
}

.title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    margin: 1rem;
    padding-bottom: 1rem;
    flex: 50%;
}

.description {
    color: white;
    font-size: 1.2rem;
    /* font-weight: bold; */
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    margin: 1rem;
    padding-bottom: 1rem;
    flex: 50%;
}

.swiper-pagination-bullet {
    background-color: #777;
    opacity: 75%;
    padding: 0.4rem;
}

.swiper-pagination-bullet-active {
    background-color: #555;
    opacity: 95%;
}

/* ----------------- Responsiveness ----------------- */
@media (max-width: 500px) {
    .description {
        display: none;
    }
}