* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    width: 100%;
    height: 4em;
    padding: 1em;
}

.site-title {
    font-size: 2rem;
}

.nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    font-size: 1.2rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

li.active {
    background-color: #555;
}

li:hover {
    background-color: #777;
}

.burger-menu {
    display: none;
}

.nav-responsive {
    display: none;
}

/* ----------------- Animate links ----------------- */
li {
    opacity: 0;
    text-indent: -45%;
}

li:nth-child(1){ animation:bringback 0.5s 0s forwards; }
li:nth-child(2){ animation:bringback 0.5s  0.5s forwards; }
li:nth-child(3){ animation:bringback 0.5s  1s forwards; }

@keyframes bringback {
    to {
        opacity: 1;
        text-indent: 0%;
    }
}

/* ----------------- Responsiveness ----------------- */
@media (max-width: 500px) {

    .nav ul {
        display: none;
    }
    
    .nav-responsive {
        display: block;
        position: fixed;
        margin-left: 40%;
        width: 60%;
        background-color: #333;
        color: white;
        height: auto;
        padding: 1em;
    }

    .nav-responsive ul {
        padding: 0;
        margin: 0;
        list-style: none;
        font-size: 1.2rem;
    }

    .nav-responsive a {
        color: inherit;
        text-decoration: none;
        height: 100%;
        display: flex;
        justify-content: right;
        padding: 0.25rem;
        margin: 0.75rem;
    }
    
    /* ----------------- Burger Menu Structure ----------------- */
    .burger-menu {
        visibility: visible;
        height: 100%;
        width: 2.5em;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        cursor: pointer;
    }
    
    .burger-bar {
        width: 2.5em;
        height: 0.3em;
        background-color: white;
        border-radius: 0.3em;
    }

    /* ----------------- Drop Down Menu ----------------- */
    .hidden {
        display: none;
    }

    .visable {
        display: inherit;
    }

    /* ----------------- Annimation Burger Icon ----------------- */
    /* clicked burger menu ----------------- */
    .burger-bar.clicked:nth-child(1) {
        transform: rotate(405deg) translate(0.5em, 0.5em);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(2) {
        transform: rotate(720deg) scale(0.01);
        transition: ease-out 0.5s;
    }

    .burger-bar.clicked:nth-child(3) {
        transform: rotate(-405deg) translate(0.7em, -0.7em);
        transition: ease-out 0.5s;
    }

    /* unClicked burger menu ----------------- */
    .burger-bar.unclicked {
        transform: rotate(0) translate(0);
        transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
    }
}