.container {
  margin: 1rem;
  text-align: center;
}

/* Responsiveness
@media (max-width: 500px) {
  body {
    color: blue;
  }  
} */

/* @media  (orientation: landscape) and (max-width: 500px) {
  .container {
    color: green;
  }
}

@media  (orientation: portrait) {
  .container {
    color: cyan;
  }
} */